/* Partie CSS */

/* CSS général  */

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: raleway ;
}

html, body
{
    margin: 0;
    padding: 0;
}

a:link
{
    text-decoration: none;
}

/* Header */

.header_block {
  display: flex;
  padding: 3em 2em 0em 3em;
}

.logo {
  flex-grow: 1;
  padding: 5px 10px 10px 0;
}

.hosting {
  padding: 5px 10px 10px 40px;
}

.activities {
  padding: 5px 10px 10px 40px;
}

.signup {
  color: #0065fc;
  padding: 5px 10px 10px 40px;
}

.hosting_link,
.activities_link {
  color: rgb(32, 32, 32);
  padding:20px;
}

.signup_link
{
  padding:20px;
}

a:visited {
  color: rgb(32, 32, 32);
}

.hosting_link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 3em;
}

.activities_link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 3em;
}

.signup_link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 3em;
}
/* Section Recherche */

.search_section
{
    padding: 1em 2em 0em 3em;
}

.search_title
{
    margin-bottom: 10px;
}

.search_text
{
    margin: -0.3em 0 1em 0;
}

/* Formulaire de recherche */

form
{
    width: 300px;
}

.formulary
{
    display: flex;
    margin: 1.5em 0 1.5em 0;
}

.formulary_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: 1px #F2F2F2  solid;
    background-color: #F2F2F2 ;
    padding: 10px 5px 10px 5px ;
    border-radius: 15px 0px 0px 15px;
    width: 35px;
    height: 25px;
}

.formulary_input
{
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 14px;
    width: 100%;
}

.formulary_button
{
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    margin-left: -20px;
    cursor: pointer;
}

.fa-search
{
    display: none;
    color: white;
}

.button_icon
{
    display: none;
    background-color: #0065FC;
    border: 15px #0065FC solid;
    border-radius: 15px;
}

.formulary_button:hover
{
    color: #0065FC;
    background-color: #F2F2F2 ;
    border: 1px solid #F2F2F2 ;
}

.formulary_input:hover
{
    color: #0065FC;
}

/* Filtres de recherche */

.search_filters
{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.search_filter_title
{
    margin-right: 1em;
    font-size: 16px;
}

.search_filter_block
{
    display: flex;
}

.search_filter_filter
{
    display: flex;
    align-items: center;
    margin-right: 1em;
    border: 2px #d8d6d6 solid;
    border-radius: 40px;
    padding-right: 1em; 
    cursor: pointer;
}

.search_icon
{
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius: 100px;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px 10px -2px -2px;
}

.info
{
    display: flex;
    align-items: center;
}

.info_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    border: 1px #d8d6d6 solid;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    font-size: small;
}

.info_text
{
    margin-left: 0.5em;
}

.search_filter_filter:hover
{
    border: 2px solid #0065FC ;
}

span:hover
{
    color: #0065FC;
}

/* Section hébergements */

.hosting_section
{
    display: flex;
    padding: 1em 2em 0em 3em;
}

.hosting_block
{
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 1em 0 1em 0; 
    margin-right: 1em;
    width: 70%;
    flex-direction: row;
}

.hosting_header
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hosting_title
{
    margin-left: 2em;
}

.hosting_img
{
    width: 250px;
    height: 120px;
    border-radius: 15px 15px 0 0px;
    object-fit: cover;
}

.hosting_articles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hosting_fig
{
    background-color: white;
    border-radius: 15px;
    padding: 5px; 
    box-shadow: 0 0px 15px rgb(206, 205, 205);
    margin: 1em;
    cursor: pointer;
}

.hosting_figcaption
{
    margin: -1em 0 1em 1em;
}

.hosting_fig_title
{
    margin-bottom: -0.5em;
}

.hosting_icon
{
    margin-top: -0.5em;
}

.active
{
    color: #0065FC ;
}

.inactive
{
    color: #F2F2F2;
}

.show_more
{
    margin-left: 2em;
}

.hosting_fig:hover 
{
    transform: scale(1.05);
    transition: ease 0.3s;
}

/* Aside */ 

.aside
{
    flex-direction: column;
    width: 30%;
}

.aside_block
{
    margin: 1em;
}                

.aside_header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-chart-line
{
    font-size: 1.5em;
    padding-left:4em;
}        

.aside
{
    background-color: #F2F2F2;
    border-radius: 1em;
}

.aside_img
{
    width: 130px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.aside_options
{
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0px 15px rgb(206, 205, 205);
    margin: 1em 1em 2em 1em;
    padding: 5px;
    height: 150px;
    cursor: pointer;
}

.aside_text
{
    margin: -1em 0 2.5em 0;
}

.aside_figcaption
{
    margin: 0 0 0 1.5em;;
}

.aside_options:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
  }

/* Section activités */

.activities_section
{
    padding: 1em 0 2em 3em;
    margin-top: 1em;
}

.grid_block
{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40% 20% 30%;
    width: 100%;
    height: 500px;
}

.grid-item
{
  padding: 0 2em 2em 0;
}

.activities_card
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 0px rgb(226, 226, 226);
    box-sizing: content-box;
    cursor: pointer;
}

.activities_card .activities_img 
{
    width: inherit;
    height: calc(100% - 32px);
}

.activities_card img
{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activities_card figcaption
{
    height: 30px;
    object-fit: cover;
    display: flex;
    align-items: center;
    padding: 10px;
}

.activities_figcaption
{
    border: solid 1px white;
    background: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0px 10px rgb(226, 226, 226);
}

.grid-item-1 
{
    grid-area: 1/1/4/1;
}
  
.grid-item-2
{
    grid-area: 1/2/2/2;
    padding-bottom: initial;
}
  
.grid-item-3
{
    grid-area: 3/2/4/2;
}
  
.grid-item-4 
{
    grid-area: 1/3/4/3;
}
  
.grid-item-5 
{
    grid-area: 1/4/1/4;
}
  
.grid-item-6 
{
    grid-area: 2/4/4/4;
    padding-top: 3em;
} 

.grid-item:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
  }

/* Footer */

.footer
{
    background-color: #F2F2F2;
}

.footer_block
{
    display: flex;
    padding: 1em 0 0 3em;
}

.footer_column
{
    margin-right: 270px;
}

.footer_column_link
{
    display: flex ;
    color: rgb(32, 32, 32);
    padding-bottom: 1em;
}

.footer_column_link:hover
{
    color:#0065FC ;
}

            /* Partie Responsive */

/* Header */

@media screen and (min-width: 350px) and (max-width:1366px) /* Version mobile (600px) et Tablette (1000px) */
{
  .header_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: initial;
  }

  .logo {
    grid-area: 1/1/1/1;
    display: flex;
    justify-content: flex-start;
    padding: 1em 0 1em 1em;
  }

  .hosting {
    grid-area: 2/1/2/1;
    border-bottom: 2px solid transparent;
    display: flex;
    justify-content: center;
    border-bottom-color:#F2F2F2;
  }
  
  .activities {
    grid-area: 2/2/2/2;
    border-bottom: 2px solid transparent;
    display: flex;
    justify-content: center;
    border-bottom-color:#F2F2F2;
  }

  .signup {
    grid-area: 1/2/1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 1em 1em 0;
  }

  .hosting_link
  {
    padding: initial;
  }

  .activities_link
  {
    padding: initial;
  }

  .signup_link
  {
    padding: initial;
  }

  .hosting_link:hover {
    border-top:none;
  }

  .activities_link:hover {
    border-top:none;
  }
  
  .hosting:hover
  {
    border-bottom-color:#0065fc;
  }
  
  .activities:hover {
    border-bottom-color:#0065fc;
  }

  .activities_link:hover{
      padding: initial;
  }

  .hosting_link:hover{
    padding: initial;
}
  
  .signup_link:hover
  {
    border-top:none;
    padding-top: 0em;
  }

/* Section Recherche*/
  
  .search_section
  {
    padding: 0.5em 1em 0em 1em;
  }

/* Formulaire de recherche */

    form
    {
        justify-content: center;
        width: 100%;
    }

    .formulary_icon
    {
        width: 60px;
        height: 30px;
    }

    .formulary_button
    {
        display: none;
    }
    
    .fa-search
    {
        display: block;
        padding: 2px;
    }

    .button_icon
    {
        width: 30px;
        display: flex;
    }

    .formulary_input
    {
        font-size: large;
        height: 48px;
    }

    .fa-search:focus
    {
        color: #0065fc;
    }

    .fas:focus
    {
        color: #0065fc;
    }

    .button_icon:focus
    {
        background-color: #F2F2F2 ;
        border-color:#F2F2F2;
    }
    

/* Filtre de recherche */

    .search_filter_block
    {
        flex-wrap: wrap;
    }

    .search_filters
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .search_filter_filter
    {
        margin: 5px;
    }
}

@media screen and (min-width: 350px) and (max-width:600px) /* Version mobile (600px) */

/* Section Hebergements */
{
    .hosting_section
    {
        flex-direction: column-reverse;
        padding: initial;
    }
    
    .hosting_block
    {
        background-color: white;
        padding: initial;
        width: initial;
        margin-right: initial;
    }

    .hosting_header
    {
        padding: 1em 1em 0 1em;
    }

    .hosting_title
    {
        margin-left: initial;
    }

    .hosting_articles
    {
        flex-direction:column;
    }

    .hosting_options
    {
        margin-bottom: 1em;
    }

    .hosting_fig
    {
        margin: initial;
        margin: 0 1em 0 1em;
    }

    .hosting_img
    {
        width: 100%;
    }

    .show_more
    {
        margin:initial;
        padding: 1em 2em 0 2em;
    }
}

@media screen and (min-width: 350px) and (max-width:1366px) /* Version mobile (600px) et Tablette (1000px) */
/* Section Hebergements */
{
    .hosting_section
    {
        flex-direction: column-reverse;
        padding: initial;
    }

    .hosting_title
    {
        margin-left: initial;
    }

    .hosting_block
    {
        background-color: white;
        padding: initial;
        width: initial;
        margin-right: initial;
    }

    .hosting_articles
    {
        display: flex;
        justify-content: space-between;
        padding: 0 1em 0 1em;
    }

/* Aside */ 
    .aside
    {
        border-radius: initial;
        width: initial;
    }

    .aside_block
    {
        margin: initial;
        padding: 1em 1em 1em 1em;
    }
    
    .aside_title
    {
        font-size: x-large;
    }

    .aside_header
    {
        justify-content: space-between;
    }
    .aside_options
    {
        margin: initial;
        margin: 0 1em 1em 1em;
    }
}

@media screen and (min-width: 350px) and (max-width:600px) /* Version mobile (600px) */
{
/* Section Activités */ 

   .activities_section
    {
        padding: 1em 2em 0 2em;
    }

    .grid_block
    {
        display: flex;
        flex-direction: column;
        height: initial;
    }

    .activities_title
    {
        padding: 0;
    }

    .grid-item
    {
        padding:initial;
        margin:1em 0 2em 0;
    }

    .activities_card 
    {
        height: 150px;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 600px) and (max-width:1366px) /* Version Tablette */
/* Section Activités */ 
{
    
    .activities_section
    {
        height: 1050px;
        padding-left: 2em;
    }

    .grid_block
    {
        grid-template-rows: 40% 10% 50% 40% 10% 50%;
    }

    .grid-item-1
    {
        grid-area: 1/1/4/3;
    }

    .grid-item-2
    {
        grid-area: 1/3/3/5 ;
        padding-bottom: 2em;
    }

    .grid-item-3
    {
        grid-area: 3/3/4/5;
    }

    .grid-item-4
    {
        grid-area: 4/3/7/5;
    }
   
    .grid-item-5
    {
        grid-area: 4/1/6/3;
    }

    .grid-item-6
    {
        grid-area: 6/1/7/3;
        padding-top: initial;
    }
}

@media screen and (min-width: 350px) and (max-width:1366px) /* Version Tablette */
{
/* Footer */

    .footer
    {
        margin-top: 2em;
    }
    
    .footer_block
    {
        flex-direction: column;
        padding:initial;
        padding-left: 2em;
    }

    .footer_column
    {
        margin: initial;
    }
}

